@inherits BaseEditorControl
@inject IJSRuntime JSRuntime

<div class="row control-div" style="cursor:move" draggable="true" @ondragstart="OnDragStart">
    <label style="cursor:move" @onclick="@(e=>clickHeaderControl(HeaderText, HeaderInputBg))">@HeaderText</label>
    <input 
        class="HeaderControl"
        style="background-color:@HeaderInputBg; color: white;" 
        type="text" 
        value="@HeaderText" 
        @onclick="@(() => ClickHeaderText(HeaderText, HeaderInputBg))"
        @onchange="@(e=>changeHeaderText(e))"
        @oninput="OnHeaderTextChanged"
    />
</div>
@code{
    [Parameter]
    public string HeaderText { get; set; }
    [Parameter]
    public string HeaderInputBg { get; set; }
    [Parameter]
    public string ControlNameFromProperty { get; set; }
    [Parameter]
    public string ControlBgFromProperty { get; set; }

    public HeaderFormControl() { }

    public HeaderFormControl(string headertext, string headerbg)
    {
        this.HeaderText = headertext;
        if(headerbg == "default")
        {
            this.HeaderInputBg = "#8a2be2";
        }else
        {
            this.HeaderInputBg = headerbg;
        }
    }

    private async void ClickHeaderText(string name, string bgcolor)
    {
        await JSRuntime.InvokeVoidAsync("FormDesignerJs.removeHighlightCss", this.Index);
        await JSRuntime.InvokeVoidAsync("FormDesignerJs.setControlProperty", this.Index);
    }
    private void OnHeaderTextChanged(ChangeEventArgs e)
    {
        this.HeaderText = e.Value.ToString();
    }

    private async void changeHeaderText(ChangeEventArgs args)
    {
        this.HeaderText = args.Value.ToString();
        HeaderFormControl current_HeaderForm = CurrentForm.AllControls[this.Index] as HeaderFormControl;
        current_HeaderForm.HeaderText = this.HeaderText ;
        await JSRuntime.InvokeVoidAsync("FormDesignerJs.setControlProperty", this.Index);
    }

    public async void clickHeaderControl(string name, string bgcolor)
    {
        await JSRuntime.InvokeVoidAsync("FormDesignerJs.removeHighlightCss", this.Index);
        await JSRuntime.InvokeVoidAsync("FormDesignerJs.setControlProperty", this.Index);
    }
}